$hour-label-width: 70px;

.schedule-container {
  position: relative;
  min-width: 660px;
}

.hour-block {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  position: relative;
}

.hour-line {
  border-top: 1px solid var(--surface-border);
  width: calc(100% - $hour-label-width);
}

.hour-label {
  width: $hour-label-width;
  color: var(--surface-900);
  margin-top: -8px;
}

.now-line {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 100;
  margin-left: 60px;
  display: flex;
  align-items: center;

  .circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--surface-900);
  }

  .line {
    background-color: var(--surface-900);
    width: 100%;
    height: 2px;
  }
}

.meeting {
  width: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background-image: linear-gradient(var(--gradient-colors));
  color: var(--surface-overlay);
  margin-left: $hour-label-width;
  border-radius: 6px;
}
