<div class="schedule-container" *ngIf="calendarConfig$ | async as config" (click)="toggleZoom(config.zoom)">
  <!-- top value is set via inline css based on the configuration object -->
  <div class="now-line" [style.top.px]="config.nowLinePx">
    <div class="circle"></div>
    <div class="line"></div>
  </div>
  <!-- hour block height is set via inline css based on the configuration object -->
  <div *ngFor="let block of config.hourBlocks" [style.height.px]="block.height" class="hour-block">
    <div class="hour-label">{{ block.hourLabel }}</div>
    <div class="hour-line"></div>
  </div>

  <div
    *ngFor="let meeting of config.meetings"
    [style.top.px]="meeting.topPx"
    [style.height.px]="meeting.heightPx"
    class="meeting"
  >
    <p>{{ meeting.title }}</p>
  </div>
</div>
